@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

#banner {
    background-image: url('https://external-preview.redd.it/fMRY7dg2IT8iQi1JkYAmYB-wdeGNqfcgji2xoZKBUDs.jpg?auto=webp&s=953d4c0d1304daf3f56dbd621cc171b60c98b413');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 400px;
}

#trailer-container {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    background-color: #000;
}

.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer {
    width: 50%;
    margin-left: 40px;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description {
    color: #fff;
    font-size:  19px;
    font-family: 'kdam Thmor Pro', sans-serif;
    width: 70%;
}

@media (max-width:768px){

    #banner {
        width: 100%;
        height: 300px;
        }
    
        #trailer-container {
            width: 100%;
            height: 400px;
            display: flex;
            flex-direction: column;
        }
    
    
        .content {
           width: 95%;
           display: flex;
           flex-direction: column;
        }
    
        .trailer {
         width: 500px;
         height: 200px;
        }
    
        #sinopse {
           width: 95%;
           display: flex;
           flex-direction: column;
           justify-content: space-between;
        }
    
        .description {
            width: 100%;
        }
   
}